.banner {
  display: flex;
  height: auto;
  padding: 16px 20px;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 12px;
  border: 2px solid var(--color-primary);
  background: var(--gradient-futuristic-floss);
  border-radius: 12px;
  box-shadow: 0px 1px 10.4px 0px rgba(46, 44, 166, 0.40);
  margin: 0;
  width: 100%;
  align-self: center;
  text-align: center;
}

.title {
  font-family: var(--font-primary);
  font-size: 18px;
  font-weight: var(--font-weight-bold);
  color: var(--color-text-dark);
  margin: 0;
  line-height: 1.2;
  text-align: center;
}

.text {
  font-family: var(--font-primary);
  font-size: 16px;
  font-weight: var(--font-weight-regular);
  color: var(--color-text-dark);
  line-height: 1.5;
  margin: 0;
  text-align: center;
  padding: 0 20px;
}

